<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--<property name="CLI_HOME" value="./ds3logs" /> -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
            <name>all</name>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} +++ %msg%n</pattern>
        </encoder>
    </appender>
    <!--
    <appender name="LOGFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
            <name>all</name>
        </filter>
        <file>${CLI_HOME}/spectra.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${CLI_HOME}/spectra.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} +++ %msg%n
            </Pattern>
        </encoder>
    </appender>

    -->
    <logger name="com.spectralogic.ds3cli.Main" level="off"
            additivity="false">
        <level value="ALL" />
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="LOGFILE" />-->
    </logger>

    <root level="ALL">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="LOGFILE" />-->
    </root>
</configuration>